:root{
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-botao-secundario-hover-mobile: #2A7AE4;
    --cor-de-botao-secundario-hover-desktop: #D4E4FA;
    --cor-de-botao-primario-hover-mobile: #5595E9;
    --cor-branca: #FFFFFF;
    --cor-fonte: #464646;
    --cor-destaque: #EAF2FD;
}