@media screen and (max-width: 1000px){

  section header {
    margin: 0 50px;
  }
  .menu__list__item {
    display: none;
  }

  .menu__list__item__contato {
    display: block;
    font-weight: 700;
  }

  section.title {
    margin: 30px 50px;
  }

  .title__bio {
    font-size: 2.5rem;
    line-height: normal;
  }

  .title__subsection {
    font-size: 1.15rem;
    line-height: normal;
  }

  .title__profile {
    height: 30vh;
    margin-left: 0.5rem;
  
  }

  section.about h3 {
    margin-bottom: 1rem;
  }

  .about__container {
    margin: 0 30px;
    padding: 2rem 1rem;
  }

  .formcontato__img {
    display: none;
  }
}